html {
    background: linear-gradient(#220055, #110033);
    height: 100%;
}

body {
    color: #EEEEFF;
    max-width: 640px;
    margin: 40px auto;
    padding: 0 10px;
    line-height: 1.6;
    font-size: 16px;
    font-family: "MS Gothic";
    font-weight: normal;
}

strong {
    line-height: 1.2;
}

a {
    color: #6495ED;
    text-decoration: none;
}

a:visited {
    color: #6495ED;
    text-decoration: none;
}